﻿@model EventListingViewModel

@{
    Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml";
}

<h1>@Model.CurrentPage.PageName</h1>
<p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>

@foreach (var eventPage in Model.AllEvents)
{
    @Html.DisplayFor(m => eventPage, "Event")
}