﻿@model PageViewModel<EventPage>

@{
    Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml";
}

<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>

<p>Start Date:@Html.DisplayFor(x => Model.CurrentPage.StartDate)</p>
<p>End Date:@Html.DisplayFor(x => Model.CurrentPage.EndDate)</p>
<p>Summary:@Html.DisplayFor(x => Model.CurrentPage.Summary)</p>
<p>Description:@Html.DisplayFor(x => Model.CurrentPage.Description)</p>
<p>Speaker:@Html.DisplayFor(x => Model.CurrentPage.Speaker)</p>
<p>NoAttendees:@Html.DisplayFor(x => Model.CurrentPage.NoAttendees)</p>
<p>Status:@Html.DisplayFor(x => Model.CurrentPage.EventStatus)</p>
@Html.PropertyFor(x => x.CurrentPage.EventImage)
@Html.PropertyFor(x => x.CurrentPage.AdditionalContent)