﻿@model EventPage
    
<div>
    <h3>
        @Html.PageLink(Model)
    </h3>
    <p class="date">Start Date: @Html.DisplayFor(x => Model.StartDate)</p>
    <p class="date">End Date: @Html.DisplayFor(x => Model.EndDate)</p>
    <p>@Html.DisplayFor(x => Model.Summary)</p>
    <hr />
</div>